.city-btn {
  margin: 5px;
}

.info-holder {
  width: 390px;
  background-color: lightblue;
  text-align: center;
}

.info {
  color: firebrick;
}

.header-nav {
  font-family: 'Montserrat, Arial, Helvetica, sans-serif';
  color: #555555;
  background-color: lightblue;
  height: 200px;
  margin-top: 5px;
  padding: 12px;
}

.margin-top-5 {
   margin-top: 5px !important;
}

.wrapper {
  color: #555555;
}

.maxHolder {
  background-color: lightblue;
  color: #333333;
  max-width: 400px;
}

.minHolder {
  background-color: lightblue;
  color: #333333;
  max-width: 400px;
}